@use "../../../styles/variables" as *;

.button {
    min-width: 180px;
  padding: 14px 32px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 999px;

  font-family: $font-body;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 1px;

  transition: $transition;

  &--primary {
    background: $color-primary;
    color: $color-dark;

    &:hover {
      opacity: 0.9;
      transform: translateY(-2px);
    }
  }

  &--secondary {
    background: transparent;

    border: 1px solid rgba(212, 175, 55, .4);

    color: $color-light;

    &:hover {
      border-color: $color-primary;
      color: $color-primary;
      transform: translateY(-2px);
    }
  }

  &:active {
    transform: scale(.98);
  }
}

@media (max-width: 576px) {
  .button {
    width: 100%;
    max-width: 280px;
  }
}