@use "../../../styles/variables" as *;

.footer {
    padding: 2rem 0 2rem;
    background-color: $color-background-secondary;
    border-top: 1px solid rgba(212, 175, 55, 0.35);

    &__content {
        display: grid;
        max-width: $container-width;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
        margin: 0rem auto 2rem auto;
    }

    &__brand {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__description {
        color: $color-description;
        line-height: 1.7;
    }

    &__title,
    .footer-navigation__title,
    .footer-socials__title {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: $color-primary
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-style: normal;
    }

    &__link {
        color: $color-description;
        text-decoration: none;
        transition: color .3s ease;
        &:hover {
            color: $color-primary
        }
    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
        max-width: $container-width;
        margin: auto;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        border-top: 1px solid rgba(212, 175, 55, 0.35);
        color: $color-description;
        font-size: .9rem;
    }
}

.footer-navigation__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.footer-navigation__link {
    color: $color-description;
    text-decoration: none;
    transition: color .3s ease;
    &:hover {
        color: $color-primary;
    }
}

.footer-socials__list {
    display: flex;
    gap: 1rem;
}

.footer-socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 50%;
    color: $color-primary;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
        border-color: $color-primary;
        transform: translateY(-3px);
    }
}


@media (max-width: $breakpoint-lg) {
    .footer .container {
        padding: 0 2rem;
    }

    .footer__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $breakpoint-sm) {
    .footer .container {
        padding: 0 1.5rem;
    }

    .footer {
        text-align: center;
    }

    .footer__content {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .footer__brand,
    .footer__contact {
        align-items: center;
    }

    .footer-navigation__list {
        align-items: center;
    }

    .footer-socials__list {
        justify-content: center;
    }

    .footer__bottom {
        flex-direction: column;
    }
}