@use "../../../styles/variables" as *;

.price-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1.25rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }

  &__name {
    color: $color-light;

    &:hover{
      color: $color-primary;
    }
  }

  &__divider {
    flex: 1;

    border-bottom: 1px dashed rgba(212, 175, 55, 0.25);
  }

  &__price {
    color: $color-primary;

    font-weight: 700;

    white-space: nowrap;
  }
}

@media (max-width: $breakpoint-md) {
  .price-item {
    gap: .75rem;

    padding: .9rem 0;

    &__name,
    &__price {
      font-size: .95rem;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .price-item {
    gap: .5rem;

    &__divider {
      border-bottom-width: 1px;
    }

    &__price,
    &__name {
      font-size: .9rem;
    }
  }
}