@use "../../../styles/variables" as *;


.booking-form {

    
    &__title {
        margin-bottom: .65rem;

        color: $color-light;
        font-family: $font-heading;
        font-size: 2.2rem;
        text-align: center;
    }

    &__description {
        max-width: 460px;

        margin: 0 auto 2rem;

        color: $color-description;
        text-align: center;
        line-height: 1.8;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__label {
        color: $color-light;
        font-size: .95rem;
        font-weight: 600;
    }

    &__input,
    &__select,
    &__textarea {
        width: 100%;
        padding: .7rem 1rem;

        color: $color-light;
        font-size: 1rem;

        background: rgba($color-light, .03);

        border: 1px solid rgba($color-light, .08);
        border-radius: $radius-card;

        transition: $transition-default;

        &::placeholder {
            color: rgba($color-light, .35);
        }

        &:hover {
            border-color: rgba($color-primary, .35);
        }

        &:focus {
            outline: none;
            border-color: $color-primary;
            box-shadow: 0 0 0 3px rgba($color-primary, .15);
        }
    }

    &__input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1) brightness(1.2);
    }
    &__textarea {
        resize: vertical;
        min-height: 130px;
    }

    &__select {
        cursor: pointer;
        background: $color-surface;
        color: $color-light;

        option{
            background: $color-surface;
            color: $color-light;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        @media (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
        }
    }

    &__submit {
        width: 100%;
        margin-top: 1rem;
    }

    &__input--error,
    &__select--error,
    &__textarea--error {
        border-color: #ff6b6b;
    }

    &__error {
        margin-top: 6px;
        color: #ff6b6b;
        font-size: .875rem;
        line-height: 1.4;
    }

    &__success {
        margin-top: 1rem;

        color: #16a34a;
        font-size: 0.95rem;
        text-align: center;
    }

    &__error-message {
        margin-top: 1rem;

        color: #ff6b6b;
        font-size: 0.95rem;
        text-align: center;
    }
}

